@mixin month-typography($config) {
  .controls {
    @include mat-typography-level-to-styles($config, title);
  }
  .dow-names {
    @include mat-typography-level-to-styles($config, subheading-2);
  }
  .cell {
    @include mat-typography-level-to-styles($config, body-2);
  }
}
@mixin month-theme($theme) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  .title {
    color: mat-color($foreground, text);
  }
  .dow-names {
    color: mat-color($foreground, text);
    background-color: mat-color($primary, lighter);
  }
  .cell {
    color: mat-color($foreground, text);
    border: mat-color($foreground, divider) 2px solid;
  }
  .out-of-range {
    background-color: mat-color($accent, 200);
  }
  .selected {
    background-color: mat-color($primary, 200);
  }
}
