@mixin month-typography($config) {
  .controls {
    @include mat-typography-level-to-styles($config, title);
  }
  .month {
    .mat-header-cell {
      @include mat-typography-level-to-styles($config, subheading-2);
    }
    .mat-cell {
      @include mat-typography-level-to-styles($config, body-2);
    }
  }
}
@mixin month-theme($theme) {
  $foreground: map-get($theme, foreground);
  .title {
    color: mat-color($foreground, text);
  }
  .month mat-header-cell.mat-header-cell {
    color: mat-color($foreground, text);
  }
  .mat-cell {
    color: mat-color($foreground, text);
    border: mat-color($foreground, divider) 2px solid;
  }
}
