@mixin month-typography($config) {
  .title {
    @include mat-typography-level-to-styles($config, title);
  }
  .month {
    @include mat-typography-level-to-styles($config, body-1);
  }
}
@mixin month-theme($theme) {
  $foreground: map-get($theme, foreground);
  .title {
    color: mat-color($foreground, text);
  }
  .month {
    color: mat-color($foreground, text);
  }
  .mat-cell {
    border: mat-color($foreground, divider) 2px solid;
  }
}
