.month {
  width: 100%;
  .mat-header-cell {
    justify-content: center;
  }
  .mat-cell {
    justify-content: center;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.calendar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  .cell {
    flex: 1;
    border: 2px solid;
    text-align: center;
    &.day {
      min-height: 100px;
    }
  }
}

button mat-icon {
  display: flex;
  align-items: center;
  margin-left: 4px;
}
