<div class="title">
  {{ _year }}
  {{ _monthName }}
</div>
<mat-table [dataSource]="_month" class="month">
  <!-- Position Column -->
  <ng-container
    *ngFor="let nameOfDOW of _calendar.daysOfWeek"
    [matColumnDef]="nameOfDOW"
  >
    <mat-header-cell *matHeaderCellDef> {{ nameOfDOW }} </mat-header-cell>
    <mat-cell *matCellDef="let day"> {{ day.dayOfMonth }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _displayedColumns"></mat-row>
</mat-table>
