.mat-header-cell {
  justify-content: center;
}
.mat-cell {
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .month-controls { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 10px;
    margin: 5px;
    .month-drop-down {
      flex-grow: 2;
      text-align: center;
      .month-selection{
        text-align: center;
      }
    }
  }
  .year-label{
    flex-grow: 2;
    text-align: center;
  }
  .year-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 10px;
    margin: 5px;
  }

  .change-control {
    flex-grow: 1;
    mat-icon.mat-icon {
      vertical-align: top;
    }
  }
}

.calendar-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  .day-of-month-number {
    padding: 6px;
    text-align: left;
  }
  .cell {
    flex: 1;
    border: 2px solid;
    text-align: center;
    &.day {
      min-height: 100px;
    }
  }
}

button.change-control {
  max-width: 100px;
}

.mat-select-panel .mat-option {
  height: unset;
}