<div class="header">
  <div>
    <div class="page-title">
      {{ title }}
    </div>
    <div class="page-subtitle">
      {{ subtitle }}
    </div>
  </div>

  <mat-form-field class="calendar-select">
    <mat-select placeholder="Select a calendar" [(value)]="activeCalendar">
      <mat-option
        *ngFor="let calendar of calendarGroup.calendars"
        [value]="calendar"
      >
        {{ calendar.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="calendar">
  <app-calendar
    [intakeCalendar]="activeCalendar"
    [intakeDayID]="calendarGroup.dayID"
  ></app-calendar>
</div>
